@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

:root {
    --primary : #b74b4b;
    --secondary : white;
    --background : black;
     /* --accent : untuk warna yang dijadikan MARK. semacam point of view */
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: 'Poppins',sans-serif;
}

html{
    font-size: 62,5%;
}

body{
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    background-color: var(--background);
    color: var(--secondary);
}

header{
    margin-top: 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.5rem 9%;
    background-color: rgba(255, 255, 255, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    font-size: 3rem;
    color: var(--primary);
    font-weight: 800;
    cursor: pointer;
    transition: 0.5s ease;
}

.logo:hover{
    transform: scale(1.1);
}

nav a{
    font-size: 1.8rem;
    color: var(--secondary);
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent; 
}

nav a:hover,
nav a.active{
    color: var(--primary);
    border-bottom: 3px solid var(--primary);
}

@media(max-width:995px){
    /* *{
        font-size: 90%;
    } */
    nav{
        position: absolute;
        display: none;
        top: 0;
        right: 0;
        width:40%;
        border-left: 3px solid var(--primary);
        border-bottom: 3px solid var(--primary);
        border-bottom-left-radius: 2rem;
        padding: 1rem solid;
        background-color: var(--background);
        border-top: 0.1rem solid var(--background);
    }

    nav.active{
        display:block;
    }

    nav a{
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }

    nav a:hover,
    nav a.active{
        padding: 1rem;
        border-radius: 0.5rem;
        border-bottom: 0.5rem solid var(--primary);
    }
}

section{
    padding: 5rem 9% 1rem;
}

.home{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
    background-color: var(--background);
}

.home .home-content h1{
    font-size: 6rem;
    font-weight:700;
    line-height:1.3;
}

span{
    color: var(--primary);
}

.home-content h3{
    font-size: 4rem;
    margin-bottom: 1rem;
    font-weight: 700;
}

.home-content p{
    font-size : 1.6rem;
}

.home-img{
    border-radius: 50%;
    filter: brightness(90%) ;
}

.home-img img{
    position: relative;
    width: 32vw;
    border-radius: 0%;
    box-shadow: 0 0 25px solid var(--primary);
    cursor: pointer;
    transition: 0.2s linear;
}

.home-img img:hover{
    font-size: 1.8rem;
    font-weight: 500;
}

.social-icons a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background-color: transparent;
    border: 0.2rem solid var(--primary);
    font-size: 2rem;
    border-radius: 50%;
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.3s ease;
    color: var(--primary);
}

.social-icons a:hover{
    color: black;
    transform: scale(1.3) translateY(-5px);
    background-color: var(--primary);
    box-shadow: 0 0 25px var(--primary);
}

.btn{
    display: inline-block;
    padding: 1rem 2.8rem;
    background-color: var(--background);
    border-radius: 4rem;
    font-size: 1.6rem;
    color: var(--primary);
    letter-spacing: 0.3rem;
    font-weight: 600;
    border: 2px solid var(--primary);
    transition: 0.3s ease;
    cursor: pointer;
}

.btn:hover{
    transform: scale3d(1.03);
    background-color: var(--primary);
    color: var(--background);
    box-shadow: 0 0 25px var(--primary);
}

.service-childcard i{
    font-size: 5rem;
    color: var(--primary);
}

.service-childcard h3{
    font-size: 2.5rem;
    color: white;
    margin: 0.5rem 0rem;
}

.service-childcard h5{
    font-size: 1rem;
    font-weight: 400;
    color: white;
    margin: 0.5rem 0rem;
    margin-bottom: 3rem;
}

.service-childcard a{
    font-size: 1rem;
    color: white;
    display: block;
    margin: 0 auto;
    width: fit-content;
}

.typing-text{
    font-size: 34px;
    font-weight: 600;
    min-width: 280px;
}

.typing-text span{
    position: relative;
}

.typing-text span::before{
    content: "Software Developer";
    color: var(--primary);
    animation: words 20s infinite;
}

.typing-text span::after{
    content: "";
    background-color: var(--background);
    position: absolute;
    width: calc(100% + 8px);
    height: 100%;
    border-left: 3px solid var(--background);
    right: -8;
    animation: cursor 0.6s infinite;
}

.service-section{
    /* border: 1px solid white; */
    width: 100%;
    height: 1000px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    position: relative;
}

.service-container{
    background-color: var(--primary);
    width: 1000px;
    height: 600px;
    align-self: flex-start;
    position: relative;
    z-index: 5;
}
.service-rowcard{
    /* border: 1px solid blue; */
    width: 80%;
    height: 50%;
    display: flex;
    justify-content: center; 
    align-items: center;
    z-index: 10;
    position: absolute;
 }

.service-childcard{
    background-color: grey;
    width: 450px;
    height: 330px;
    margin : 20px 20px ;
    align-items: flex-start;
    padding: 2rem;
}

@keyframes cursor{
    to{
        border-left:  3px solid var(--primary);
    }
}

@keyframes words{
    0%, 20%{
        content: "Web Developer";
    }
    21%, 40%{
        content: "Mobile Dev";
    }
    41%, 60%{
        content: "Web Designer";
    }
    61%, 80%{
        content: "Youtuber";
    }
    81%, 100%{
        content: "Script Writer";
    }
}

@media (max-width: 1000px){
    .home{
        gap: 4rem;
    }
}

@media(max-width:995px) {
    .home{
        flex-direction: column;
        margin: 5rem 4rem;
    }
    .home .home-content h3{
        font-size: 2.5rem;
    }

    .home-content h1{
        font-size: 5rem;
    }

    .home-img img{
        width: 70vw;
        margin-top: 4rem;
    }
}