@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

:root {
    --primary : #2C3E50;
    --secondary : #ECF0F1;
    --background : #FDFEFE;
    --accent : #1ABC9C;
    --text-color: #34495E;
     /* Primary Color (Dark Blue): #2C3E50
     Secondary Color (Light Gray): #ECF0F1
     Accent Color (Teal): #1ABC9C
     Text Color (Dark Gray): #34495E
     Background Color (Off-white): #FDFEFE */
    }


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: 'Poppins',sans-serif;
}

html{
    font-size: 62,5%;
}

body{
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    background-color: var(--background);
    color: var(--text-color);
}

header{
    margin-top: 10px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.5rem 9%;
    background-color: #fdfefe2e;
    /* opacity: 50%; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    font-size: 3rem;
    color: var(--primary);
    font-weight: 800;
    cursor: pointer;
    transition: 0.5s ease;
}

.logo:hover{
    transform: scale(1.1);
}

nav a{
    font-size: 1.8rem;
    color: var(--text-color);
    opacity: 50%;
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
    transition: 0.5s ease;
}

nav a:hover,
nav a.active{
    opacity: 100%;
    color: var(--primary);
    border-bottom: 3px solid var(--primary);
}

@media(max-width:995px){
    *{
        font-size: 90%;
    }

    nav{
        position: absolute;
        display: none;
        top: 0;
        right: 0;
        width:40%;
        border-left: 3px solid var(--primary);
        border-bottom: 3px solid var(--primary);
        border-bottom-left-radius: 2rem;
        padding: 1rem solid;
        background-color: var(--background);
        border-top: 0.1rem solid var(--background);
    }

    nav.active{
        display:block;
    }

    nav a{
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
        transition: 0.5s ease;
    }

    nav a:hover,
    nav a.active{
        padding: 1rem;
        border-radius: 0.5rem;
        border-bottom: 0.5rem solid var(--primary);
    }
}

section{
    padding: 5rem 9% 1rem;
}

.home{
    margin-top : 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
    background-color: var(--background);
}

.home .home-content h1{
    margin-top: 40px;
    font-size: 4rem;
    font-weight:600;
    line-height:1.3;
}

span{
    color: var(--primary);
}

.home-content h3{
    font-size: 4rem;
    margin-bottom: 1rem;
    font-weight: 700;
}

.home-content p{
    font-size : 1.6rem;
}

.home-img{
    border-radius: 50%;
    filter: brightness(95%) ;
    transform: scale(1.2);
}

.home-img img{
    position: relative;
    width: 32vw;}

.social-icons a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background-color: transparent;
    border: 0.2rem solid var(--primary);
    font-size: 2rem;
    border-radius: 50%;
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.5s ease;
    color: var(--primary);
}

.social-icons a:hover{
    transform: scale(1.3) translateY(-5px);
    box-shadow: 0 0 25px var(--primary);
    border: none;
}

.btn{
    display: inline-block;
    padding: 1rem 2.8rem;
    background-color: var(--background);
    border-radius: 4rem;
    font-size: 1.6rem;
    color: var(--primary);
    letter-spacing: 0.3rem;
    font-weight: 600;
    border: 2px solid var(--primary);
    transition: 0.5s ease;
    cursor: pointer;
    margin-bottom: 120px;
}

.btn:hover{
    transform: scale3d(1.03);
    background-color: var(--primary);
    color: var(--background);
    box-shadow: 0 0 25px var(--primary);
}

.typing-text{
    font-size: 55px;
    font-weight: 600;
    min-width: 280px;
}


/* Animasi Kalimat kelip2
.typing-text span{
    position: relative;
}
.typing-text span::before{
    content: "Software Developer";
    color: var(--primary);
    animation: words 20s infinite;
}

.typing-text span::after{
    content: "";
    background-color: var(--background);
    position: absolute;
    width: calc(100% + 8px);
    height: 100%;
    border-left: 3px solid var(--background);
    right: -8;
    animation: cursor 0.6s infinite;
}

@keyframes words{
    0%, 35%{
        content: "Web Developer";
    }
    36%, 70%{
        content: "Mobile Dev";
    }
    71%, 100%{
        content: "Front-end Dev";
    }
    71%, 100%{
        content: "Back-end Dev";
    }
    71%, 100%{
        content: "Fullstack Dev";
    }
} */

.service-section{
    /* border: 1px solid white; */
    width: 100%;
    height: 900px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 0px;
    padding-top: 0px;
}

.service-container{
    background-color: var(--primary);
    width: 1000px;
    height: 600px;
    align-self: flex-start;
    position: relative;
    z-index: 5;
}
.service-rowcard{
    /* border: 1px solid blue; */
    width: 80%;
    height: 50%;
    display: flex;
    justify-content: center; 
    align-items: center;
    z-index: 10;
    position: absolute;
 }

.service-childcard{
    background-color: var(--secondary);
    width: 450px;
    height: 330px;
    margin : 20px 20px ;
    align-items: flex-start;
    padding: 2rem;
    transition: 0.5s ease;
}
.service-childcard:hover{
    transform: scale(1.05);
    box-shadow: 0 0 20px var(--secondary);
    transition: 0.2s ease;
}

.service-childcard i{
    font-size: 5rem;
    color: var(--text-color);
}

.service-childcard h3{
    font-size: 2.5rem;
    color: var(--text-color);
    margin: 0.5rem 0rem;
}

.service-childcard h5{
    font-size: 1rem;
    font-weight: 400;
    color: var(--text-color);
    margin: 0.5rem 0rem;
    margin-bottom: 2rem;
}

.service-childcard a{
    font-size: 1rem;
    color: var(--text-color);
    display: block;
    margin: 0 auto;
    width: fit-content;
}

.skills{
    /* border: 1px solid black; */
    width: 100%;
    height: 800px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    position: relative;
}
.skills-container{
    /* border: 1px solid blue; */
    width: 95%;
    height: 120%;
    align-items: center;
    justify-content:flex-start;
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 20px;
}

.skills-row{
    /* border: 1px solid yellow; */
    width: 100%;
    height: 45%;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    position: relative;
    margin-bottom: 0px;
    margin-top: 10px;
}

.skills-card{
    background-color: var(--secondary);
    width: 25%;
    height: 95%;
    margin : 0px 20px ;
    align-items: flex-start;
    justify-content: center;
    padding: 2.5rem;
    transition: 0.5s ease;
}

.skills-card:hover{
    transform: scale(1.05);
    box-shadow: 0 0 20px var(--secondary);
    transition: 0.5s ease;
}

.skills-card i{
    font-size: 4rem;
    color: var(--text-color);
}

.skills-card h3{
    font-size: 2rem;
    color: var(--text-color);
    margin: 0.4rem 0rem;
}

.skills-card h5{
    font-size: 1rem;
    font-weight: 400;
    color: var(--text-color);
    margin: 0.4rem 0rem;
    margin-bottom: 1rem;
}

.skills-card a{
    font-size: 1rem;
    color: var(--background);
    display: block;
    margin: 0 auto;
    width: fit-content;
    background-color: var(--primary);
    padding: 0.8rem;
}

.education{
    height: 800px;
}

.education-row{
    margin-top: 50px;
    /* border: 1px solid green; */
    width: 100%;
    height: 10%;
    flex-direction: row;
    display: flex;
    position: relative;
    margin-bottom: 20px;
}

.leading-education{
    /* border: 1px solid yellow; */
    width: 100%;
    height: 100%;
}

.education-button{
    /* border: 1px solid red; */
    width: 17%;
    height: 60px;
    background-color: var(--primary);
    justify-content: center;
    display: flex;
}

.text-edubutton{
    color: var(--secondary);
    align-self: center;
    text-align: center;
    font-size: large;
}

.education-carousel{
    /* border: 1px solid blue; */
    flex-direction: row;
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    white-space: nowrap;
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow: hidden;
}   

.education-card {
    /* border: 1px solid gray; */
    width: 40%;
    height: 400px;
    scroll-snap-align: start;
    flex-shrink: 0; 
    animation: scroll 7s linear infinite;
    margin: 0px 15px;
    transition: transform 0.5 ease ;
    animation: scroll 10s infinite;
}

.education-card img{
    width: 100%;
    margin-bottom: 30px ;
    box-shadow: 0 0 5px black;
}

.card-educard{
    /* border: 1px solid green; */
    height: 70%;
    align-items: center;
    justify-content: center;
    display: flex;
    display: flex;
}

.text-educard{
    margin-left: 10%;
}

.text-educard1{
    margin-left: 10%;
    font-weight: 400;
    margin-bottom: 0px;
}

.offer-section{
    width: 100%;
    height: 600px;
    align-items: center;
    justify-content: center;
    display: flex;
    padding-bottom: 10%;
    flex-direction: column;
    margin: 35px 0px;
}

.offer-container{
    background-color: var(--primary);
    width: 85%;
    height: 120%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 8%;
}

.offer-button{
    background-color: var(--primary);
    width: 20%;
    height: 40%;
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s ease;
}

.offer-button:hover{
    transform: scale(1.05);
    transition: 0.5s ease;
}

.site-footer{
    background-color: var(--primary);
    color: var(--secondary);
    padding: 20px 0px;
    text-align: center;
}

.container-footer p{
    font-size: 14px;
}

@keyframes scroll {
    0% { transform: translateX(0); }
    20% { transform: translateX(0); }  /* "Berhenti" di slide pertama */
    25% { transform: translateX(-100%); }
    45% { transform: translateX(-100%); }  /* "Berhenti" di slide kedua */
    50% { transform: translateX(-200%); }
    70% { transform: translateX(-200%); }  /* "Berhenti" di slide ketiga */
    75% { transform: translateX(-300%); }
    95% { transform: translateX(-300%); }  /* "Berhenti" di slide terakhir */
    100% { transform: translateX(0); }  /* Kembali ke slide pertama */
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    80%{
        transform: translateX(-100%);
    }
}

@keyframes cursor{
    to{
        border-left:  3px solid var(--primary);
    }
}

@media (max-width: 1000px){
    .home{
        gap: 4rem;
    }
}

@media(max-width:995px) {
    .home{
        flex-direction: column;
        margin: 5rem 4rem;
    }
    .home .home-content h3{
        font-size: 2.5rem;
    }

    .home-content h1{
        font-size: 5rem;
    }

    .home-img img{
        width: 70vw;
        margin-top: 4rem;
    }
}